*.exe
*.EXE
*.obj
*.OBJ
*.CPI
*.cpi
*.lst
*.err
ANSI/ansi.sys
ANSI/ANSI.SYS
COUNTRY/country.sys
COUNTRY/COUNTRY.SYS
DISPLAY/display.sys
DISPLAY/DISPLAY.SYS
DRIVER/driver.sys
DRIVER/DRIVER.SYS
KEYBOARD/keyboard.sys
KEYBOARD/KEYBOARD.SYS
PRINTER/printer.sys
PRINTER/PRINTER.SYS
RAMDRIVE/ramdrive.sys
RAMDRIVE/RAMDRIVE.SYS
SMARTDRV/smartdrv.sys
SMARTDRV/SMARTDRV.SYS
VDISK/vdisk.sys
VDISK/VDISK.SYS
XMA2EMS/xma2ems.sys
XMA2EMS/XMA2EMS.SYS
XMAEM/xmaem.sys
XMAEM/XMAEM.SYS
