*.obj
*.OBJ
EMM/emm40.cod
EMM/emm40.COD
EMM/EMM40.COD
EMM/emmdata.lst
EMM/EMMDATA.LST
EMM/emmdisp.lst
EMM/EMMDISP.LST
EMM/emmfunct.cod
EMM/EMMFUNCT.COD
EMM/emminc.lst
EMM/EMMINC.LST
EMM/emmlib.lib
EMM/EMMLIB.LIB
EMM/emmp.lst
EMM/EMMP.LST
EMM/emmsup.lst
EMM/EMMSUP.LST
MEMM/emm386.sys
MEMM/EMM386.SYS
MEMM/mapdma.cod
MEMM/mapdma.COD
MEMM/MAPDMA.COD
