*.obj
*.OBJ
*.lst
*.LST
*.bak
*.BAK
resp.txt
EMM/emm40.cod
EMM/emm40.COD
EMM/EMM40.COD
EMM/emmfunct.cod
EMM/EMMFUNCT.COD
EMM/emmlib.lib
EMM/EMMLIB.LIB
MEMM/emm386.sys
MEMM/EMM386.SYS
MEMM/mapdma.cod
MEMM/mapdma.COD
MEMM/MAPDMA.COD
