*.com
*.COM
*.exe
*.EXE
*.obj
*.OBJ
*.err
*.lst
resp.txt
panel.inf
PANEL.INF
sel-pan.dat
SEL-PAN.DAT
select.hlp
SELECT.HLP
services.bak
SERVICES.BAK
services.lib
SERVICES.LIB
select.dat
SELECT.DAT
